<h2><%= @post.title %></h2>

<p><%= @post.body %></p>

<ul class="list-inline">
  <li><a class="btn btn-default" href="/posts">Go back</a></li>
  <li><a class="btn btn-primary" href="/posts/<%= @post.id %>/edit">Edit</a></li>
  <li><a class="btn btn-danger" href="/posts/<%= @post.id %>" method="_delete">Delete</a></li>
</ul>
